In [1]:
import pandas as pd

In [2]:
inputMovies=pd.read_csv('kevin_movies.txt')
inputMovies.head()

                      Title  Ratings
0                 Inception      5.0
1           Spring Breakers      1.0
2     Welcome to the Sticks      2.0
3         Captain Fantastic      5.0
4  Dark Knight Rises, The 5      NaN